.pending-tasks-container {
  width: 500px;
  padding: 20px;
  margin: 20px auto;
}
.task-content {
  height: 100px;
  border-radius: 15px;
  border: 1px solid #6bbff7;
  padding: 10px;
  height: 150px;
  margin: 0 auto;   
  font-size: 16px;
  color: #333;
}
.task-checkbox-container {
  margin-top: 12px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 50%;
}
p{
  margin: 0.5px;
}
