form{
    padding: 15px;
    border-radius: 8px; 
    label{
        margin-right: 10px;
        font-weight: bold;
    }
    input{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
    }
    select{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
    }
    button{
        padding: 5px 10px;
        background-color: #9edb0f;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}