div {
   
    h1 {
        margin: 0.5rem;
        text-align: center;
        text-decoration-line: underline;
        font-size: 1rem;
        color: red;
        font-weight: 600;
    }
    h4 {
        margin:0.5rem;
    }
   .task-box{
   margin: auto;
   margin-bottom: 20px;
   }
   ul{
    li{
        .Employee-Detail{
            margin: auto;
            width: 700px;
            border: 1px solid;
            border-radius: 20px;
            margin-bottom: 20px;

        }
    }
   }

}
.main-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .card {
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem;
        max-width: 30%;
        // margin-bottom: 1rem;
    }
}
.two-columns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: start;
    width: 100%;
}
@media (max-width: 720px) {
    .main-container {
        flex-direction: column;
        .card {
            width: 100%;
            max-width: 90%;
            margin: auto;
        }
    }
}
.completed-color {
    color: green;
}
.pending {
    color:blue;
}
.input-box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    input {
        // width: 50%;
        outline: none;
        // border: 0;
        // border-bottom: 1px solid;
        margin-bottom: 1rem;
        margin-top: 0.1rem;
        height: 2rem;
    }
}

button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.employee-add-container {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // justify-content: center;
    .basic-details {
        width: 50%;
    }
    .project-details {
        width:50%;
    }
    .tasks-display {
        color: blue;
    }
    .project-btns {
        display: flex;
        justify-content: space-between;
    }
    .projects-display {
        color: green;
    }
}