h4{
    text-align: center;
}
.dashboard-buttons {
    text-align: center;
    margin-bottom: 20px;
    #posts, #users {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
}
.dashboard-content {
    text-align: center;
}